@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

$nav-color: rgb(49, 49, 194);
$background-color: rgb(238, 225, 225);
$color-light: #55a5f0;
$button-color: #f0a500;
$logo-color: white;
$logo-font: 'Dancing Script', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$welcome-font: 'Dancing Script', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
