.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: $background-color;
}

.main {
    height: 50vh;
    background-color: $nav-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: $background-color;
}