* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  padding: 20px;
  background-color: cornflowerblue;
}
section > * {
  background-color: white;
  text-align: center;
  padding: 20px 0px;
  font-size: 30px;
}
section #header {
  grid-area: 1/1/span 1/span 6;
}
section #menu {
  grid-area: 2/1/span 2/span 1;
}
section #main {
  grid-area: 2/2/span 1/span 3;
}
section #right {
  grid-area: 2/5/span 1/span 2;
}
section #footer {
  grid-area: 3/2/span 1/span 5;
}

@media screen and (max-width: 768px) {
  section div {
    grid-template-columns: 1 fr 1fr;
  }
}
@media screen and (max-width: 550px) {
  section div {
    grid-template-columns: 1fr;
  }
}