@import "../../variables.scss";

.counterContainer {
    background-color: $tertiary-color;
    padding: 5%;
    width: 80%;
    height: 40%;
    border-radius: 10px;

    .counterTitle {
        color: $background-color;
    }


    .buttons {
        padding: $base-spacing * 4 $base-spacing * 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        .button {
            width: 30%;
            height: 80%;
            border-radius: 100%;
            background-color: $tertiary-color;
            border: 1px solid $background-color;
            

            &:hover {
                cursor: pointer;
            }
        }

        .counterValue {
            color: $primary-color;
            font-weight: bold;
        }

    }

}