@import "../../variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    margin: 0 auto;
    background-color: $primary-color;
    padding: 2%;
    border: 1px solid $secondary-color;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    height: 100%;
    text-align: center;
    box-shadow: $card-shadowing;

    &:hover {
        box-shadow: $card-hover-shadowing;
        border-color: $text-color;
    }

    .employeeName {
        padding: $base-spacing * 2;
    }

    .employeeRole {
        padding: $base-spacing;
    }
}